@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }
  body .titulo_iframe {
    text-align: center;
    text-decoration: underline; }
  body .videoYoutube {
    overflow: hidden;
    padding-bottom: 500px;
    position: relative;
    height: 50px;
    text-align: center; }
    body .videoYoutube iframe {
      left: 0;
      top: 0;
      height: 315;
      width: 560;
      position: static; }
  body .card-body {
    background: linear-gradient(-90deg, lightblue, white); }
  body .excDest h3 {
    text-decoration: underline;
    text-align: center; }
  body .cardsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center; }
    body .cardsBox .card {
      align-items: center; }
  @media screen and (max-width: 800px) {
    body iframe {
      width: 100%; }
    body .pagoCuotas img {
      width: 100%; } }

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100; }
  .btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background: #fff; }

.pagoCuotas {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px; }
  .pagoCuotas h4 {
    font-weight: bolder; }

main {
  margin-top: 40px; }

.navbar img {
  width: 300px;
  height: 100px; }

.pie-pagina {
  width: 100%;
  background-color: #0a141d; }
  .pie-pagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
    .pie-pagina .grupo1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .pie-pagina .grupo1 .box figure img {
        width: 250px; }
    .pie-pagina .grupo1 .box h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px; }
    .pie-pagina .grupo1 .box p {
      color: #efefef;
      margin-bottom: 10px; }
    .pie-pagina .grupo1 .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: #0d2033;
      text-align: center;
      transition: all 300ms ease; }
    .pie-pagina .grupo1 .red-social a:hover {
      color: aqua; }
  .pie-pagina .grupo2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
    .pie-pagina .grupo2 small {
      font-size: 15px; }

@media screen and (max-width: 800px) {
  .pie-pagina .grupo1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    text-align: center; } }

.card-body2 {
  text-align: center; }

.card2 {
  border: none;
  padding: 15px; }

label {
  margin-top: 6px; }

.formContacto {
  background-color: #ecf0f3;
  margin: 30px auto;
  width: 500px;
  border: 1px solid #b4d8eb;
  border-radius: 8px; }

.jumbotron {
  background-color: #ecf0f3;
  padding: 16px;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 0px; }
  .jumbotron h3 {
    font-size: 26px;
    text-align: center;
    font-weight: bolder; }

.formContacto {
  padding: 14px; }

@media screen and (max-width: 800px) {
  .formContacto {
    width: 100%; } }

.titOfi h3 {
  font-size: 32px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 10px; }

.encabezadoPreviaje .campanaPreviaje {
  text-align: center;
  font-weight: bolder;
  text-decoration: underline; }

.encabezadoPreviaje .img_previaje {
  text-align: center; }

.contenidoPreviaje {
  text-align: center; }
  .contenidoPreviaje h4 {
    color: #177bd3;
    font-weight: bolder; }
  .contenidoPreviaje ul li {
    list-style-position: inside; }

@media screen and (max-width: 800px) {
  .encabezadoPreviaje {
    width: 100%; }
    .encabezadoPreviaje .img_previaje {
      text-align: center; }
      .encabezadoPreviaje .img_previaje img {
        width: 100%;
        height: 100%; } }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.mainExc {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0; }

.text--medium {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ecf0f1; }

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px; }

.tarjeta {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #64b9eb;
  cursor: pointer;
  transition: all 0.3s ease 0s; }

.tarjeta:hover {
  transform: translateY(-7px); }

.tarjeta_img {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative; }
  .tarjeta_img img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.card_content {
  padding: 20px; }

.card_titulo {
  margin-bottom: 20px; }

.card_info {
  display: flex;
  align-self: end;
  align-items: center; }
  .card_info .card_precio {
    margin-left: auto;
    padding: 5px 20px;
    background-color: #2f87b9;
    border-radius: 20px; }

@media only screen and (max-width: 1000px) {
  .tarjeta {
    grid-column-end: span 6; } }

@media only screen and (max-width: 700px) {
  .mainExc {
    grid-gap: 20px; }
  .tarjeta {
    grid-column-end: span 12; } }

@media only screen and (max-width: 500px) {
  .mainExc {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px; }
  .cards {
    grid-column-end: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px; }
  .tarjeta {
    grid-column-end: span 6; } }

.tituloExc {
  margin-top: 10px;
  text-align: center;
  text-decoration: underline; }

@media screen and (min-width: 1024px) {
  .imgQS {
    max-width: 100%; }
    .imgQS img {
      width: 100%;
      height: 80%; }
    .imgQS .txtQS {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .imgQS .txtQS h1 {
        font-size: 30px;
        color: white;
        text-shadow: 0 0 8px black; }
      .imgQS .txtQS p {
        font-size: 15px;
        color: white;
        text-shadow: 0 0 8px black; } }

@media screen and (max-width: 800px) {
  .imgQS {
    max-width: 100%;
    height: 100%; }
    .imgQS img {
      width: 100%;
      height: 80%; }
    .imgQS .textQS {
      color: black; } }

.cardMision {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }
  .cardMision .card-bodyQS h2 {
    text-align: center;
    color: #46a6e6; }
  .cardMision .card-bodyQS p {
    text-align: justify; }

.cardVision {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }
  .cardVision .card-bodyQS h2 {
    text-align: center;
    color: #46a6e6; }
  .cardVision .card-bodyQS p {
    text-align: justify; }

.cardValores {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }
  .cardValores .card-bodyQS h2 {
    text-align: center;
    color: #46a6e6; }
  .cardValores .card-bodyQS p {
    text-align: justify; }

.cardRespon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }
  .cardRespon h2 {
    text-align: center;
    color: #46a6e6; }
  .cardRespon p {
    text-align: justify; }
