@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
        .titulo_iframe{
            text-align: center;
            text-decoration: underline;
        }
        .videoYoutube{
            overflow: hidden;
            padding-bottom: 500px;
            position: relative;
            height: 50px;
            text-align: center;
                iframe{
                    left: 0;
                    top: 0;
                    height: 315;
                    width: 560;
                    position: static;
                }
        }
        .card-body{
            background: linear-gradient(-90deg, lightblue, white);
        }
        .excDest h3{
            text-decoration: underline;
            text-align: center;
        }
        .cardsBox{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: center;
            text-align: center;
                .card{
                    align-items: center;
                }
        }
        @media screen and (max-width:800px) {
            iframe{
                width: 100%;
            }
            .pagoCuotas{
                img{
                    width: 100%;
                }
            }
        }
}
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    &:hover{
        text-decoration: none;
        color: #0df053;
        background: #fff;
    }
  }
  .pagoCuotas{
      text-align: center;
      margin-top: 15px;
      margin-bottom: 40px;
      h4{
          font-weight: bolder;
      }
  }
  main{
      margin-top: 40px;
  }
.navbar{
    img{
        width: 300px;
        height: 100px;
    }
}