<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuristeandoARG</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <div class="contenedorPrincipal">
        <header class="border">
            <div class="menu">
                <div class="logo">
                    <a href="../index.html"><img src="../assets/img/turisteandologo.png" alt="logo"></a>
                </div>
                <nav class="nav_items">
                    <a href="../index.html">HOME</a></li>
                    <a href="excursiones.html">EXCURSIONES</a>
                    <a href="previaje.html">PREVIAJE</a>
                    <a href="quienes_somos.html">QUIENES SOMOS</a>
                    <a href="contacto.html">CONTACTO</a>
                </nav>
            <a href="https://api.whatsapp.com/send?phone=541154130268&text=%C2%A1Hola!%20Quer%C3%ADa%20solicitar%20asistencia%20para%20comprar%20una%20excursi%C3%B3n" class="whats_link" target="_blank"> 
                <img class="whats_icon" src="../assets/img/whatsapp.png" alt="whatsapp">
            </a>
        </header>  
        <main class="border">
            <div class="fotoBanner">
                <img src="../assets/img/banner1.jpeg" alt="banner">
            </div>
            <div class="contacto">
                <h2>DEJA AQUI TU CONSULTA Y/O COMENTARIO</h2>
                <p>o envianos un mail a consultas@turisteando.com.ar y nos comunicaremos a la brevedad</p>
            </div>
            <div class="formulario">
                <form action="#">
                    <label for="nombre"> NOMBRE: <br>
                        <input type="text" name="nombre">
                    </label><br>
                    <label for="apellido"> APELLIDO: <br>
                        <input type="text" name="apellido">
                    </label><br>
                    <label for="edad">
                        EDAD: <br>
                        <input type="number" name="edad">
                    </label>
                    <div> ELEGI UN MOTIVO DE CONSULTA <br>
                        <select name="motivo" id="motivo">
                            <option value="Dudas sobre previaje">Dudas sobre previaje</option>
                            <option value="No recibi el voucher">No recibi el voucher</option>
                            <option value="No encuentro disponibilidad">No encuentro disponibilidad</option>
                        </select>
                    </div>
                    <div> No soy un robot
                        <input type="checkbox" name="aceptar" value="1">
                    </div>
                    <input type="submit" value="ENVIAR">
                    <input type="reset" value="RESET">
                </form><br>
                    <h2 class="tituloOficinas">NUESTRAS OFICINAS</h2> <br>
                    <div class="oficinas">
                        <div class="ofiCard">
                            <h4 class="tituloUbicacion">USHUAIA</h4>
                            <br>
                            <p class="textOfi">
                                Dirección: San Martin 409 <br>
                                Whatsapp: ÷54 9 2901 653331 <br>
                                Tel: ÷54 2901 437073 <br>
                                Mail: consultas@turisteando.com.ar <br>
                            </p><br>
                        </div>
                        <div class="ofiCard">
                            <h4 class="tituloUbicacion">EL CALAFATE</h4>
                            <br>
                            <p class="textOfi">
                                Dirección: Av Libertador 1150. Local 3 <br>
                                Whatsapp: ÷54 9 2966 487333 <br>
                                Tel: ÷54 2902 435621 <br>
                                Mail: ventasfte@turisteando.com.ar <br>
                            </p> <br>
                        </div>
                        <div class="ofiCard">
                            <h4 class="tituloUbicacion">BUENOS AIRES</h4>
                            <br>
                            <p class="textOfi">
                                <i>Oficina comercial: Atención a operadores y agencias exclusivamente</i><br>
                                Dirección: Florida 520 - Piso 1 - Oficina 220 <br>
                                Tel: ÷54 11 4416 7378
                            </p> <br>
                        </div>
                    </div> 
                </div> 
        </main> <br>
        <footer class="border">
            <div>
                <h3>REDES SOCIALES</h3>
                <img src="../assets/img/instagram.png" alt="logo insta" width="100" height="100">
                <img src="../assets/img/facebook.png" alt="logo face" width="100" height="100">
            </div>
            <div>
                <h6>Copyright Turisteando ARG - All rights reserved</h6>
            </div>  
        </footer>
    </div>
</body>
</html>