<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuristeandoARG</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <div class="contenedorPrincipal">
        <header class="border">
            <div class="menu">
                <div class="logo">
                    <a href="../index.html"><img src="../assets/img/turisteandologo.png" alt="logo"></a>
                </div>
                <nav class="nav_items">
                    <a href="../index.html">HOME</a></li>
                    <a href="excursiones.html">EXCURSIONES</a>
                    <a href="previaje.html">PREVIAJE</a>
                    <a href="quienes_somos.html">QUIENES SOMOS</a>
                    <a href="contacto.html">CONTACTO</a>
                </nav>
            </div>    
            <a href="https://api.whatsapp.com/send?phone=541154130268&text=%C2%A1Hola!%20Quer%C3%ADa%20solicitar%20asistencia%20para%20comprar%20una%20excursi%C3%B3n" class="whats_link" target="_blank"> 
                <img class="whats_icon" src="../assets/img/whatsapp.png" alt="whatsapp">
            </a>
        </header>  
        <main class="border">
            <div class="fotoBanner">
                <img src="../assets/img/banner1.jpeg" alt="banner">
            </div>
            <div class="exc_ush">
                <h3>EXCURSIONES USHUAIA</h3><br>
            </div>
                <table border="1">
                    <tr>
                        <th>Nombre excursion</th>
                        <th>Duracion</th>
                        <th>Destino</th>
                        <th>Precio</th>
                    </tr>
                    <tr>
                        <td>Trekking Laguna Esmeralda</td>
                        <td>5 horas</td>
                        <td>Ushuaia</td>
                        <td>$8000</td>
                    </tr>
                    <tr>
                        <td>Navegacion Canal de Beagle</td>
                        <td>7 horas</td>
                        <td>Ushuaia</td>
                        <td>$5200</td>
                    </tr>
                    <tr>
                        <td>Navegacion Estancia Harberton</td>
                        <td>12 horas</td>
                        <td>Ushuaia</td>
                        <td>$15000</td>
                    </tr>
                </table><br>
            <div class="experiencia">
                <h3>Experiencia Trekking Laguna Esmeralda</h3><br>
                <img src="../assets/img/lagunaesmeralda.jpeg" alt="lagunaesmeralda">
                <br>
                <p>
                    Esta caminata es una de las más accesibles dentro de las opciones de Trekkings en la ciudad más austral del mundo. Nos pasan a buscar por nuestro hospedaje en dirección norte, a unos 20 minutos de la ciudad. Una vez llegados el guía nos explicara que debemos atravesar el Valle por un sendero muy claro y señalizado dependiendo de la estación del año en que nos encontremos, atravesaremos varios turbales y terreno rocoso.
    Después de un poco más de bosque, seguimos nuestra caminata bordeando el río Esmeralda hasta llegar a la indescriptible Laguna Esmeralda, un pequeño lago de origen glaciar, que debe su nombre al color que le dan los sedimentos que provienen del Glaciar Ojo del Albino. Este color solamente se puede apreciar en verano ya que en invierno estará congelada y cubierta de nieve.
    Mientras disfrutamos la vista de la Laguna tendremos ocasión para consumir el box lunch.
    Al regreso el camino nos será familiar y podremos tener la última oportunidad de apreciar las bellezas que nos rodean. Una vez finalizada la caminata nos volvemos a encontrar con el vehículo que nos estará esperando para llevarnos de regreso a la ciudad de Ushuaia.
                </p><br>
                <ul class="exc_lista">
                    <li class="exc_details" >Frecuencia: Todo el año</li>
                    <li class="exc_details">Duracion: medio dia</li>
                    <li class="exc_details">Salida: desde el hotel</li>
                    <li class="exc_details">Recomendaciones de vestimenta
                        <ul class="recomendaciones">
                                <li class="exc_details">Campera impermeable + campera polar</li>
                                <li class="exc_details">Zapatos o zapatillas de trekking impermeables</li>
                                <li class="exc_details">Sombrero o gorro</li>
                                <li class="exc_details">Anteojos de sol</li>
                                <li class="exc_details">En invierno guantes y abrigo extra</li>
                        </ul>
                    </li>
                </ul><br>
            </div>
        </main><br> 
        <footer class="border">
            <div>
                <h3>REDES SOCIALES</h3>
                <img src="../assets/img/instagram.png" alt="logo insta" width="100" height="100">
                <img src="../assets/img/facebook.png" alt="logo face" width="100" height="100">
            </div>
            <div>
                <h6>Copyright Turisteando ARG - All rights reserved</h6>
            </div>  
        </footer>
    </div>
</body>
</html>