<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Encontra nuestro catalogo de excursiones en Ushuaia y El Calafate">
    <meta name="keywords" content="turismo, ushuaia, el calafate, excursiones, previaje, argentina, laguna esmeralda,trekking, navegacion">
    <title>Excursiones de TuristeandoArg</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <script src="https://kit.fontawesome.com/d77c652ade.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <header>    
            <div class="row">
                <div class="col-lg-12 col-12">
                    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="../index.html"> <img src="../assets/img/turisteandologo.png" class="d-inline-block align-top" alt="logoBrand"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                              <a class="nav-link" href="../index.html">HOME <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                              <a class="nav-link" href="excursiones.html">EXCURSIONES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="previaje.html">PREVIAJE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="quienes_somos.html">QUIENES SOMOS</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="contacto.html">CONTACTO</a>
                            </li>
                          </ul>
                        </div>
                      </nav>
                </div>
            </div>
        </header> <br>
        <main>
            <br>
            <div class="tituloExc">
                <h3>Excursiones en Ushuaia</h3>
            </div> 
            <div class="mainExc">
                <div class="cards">
                    <div class="tarjeta">
                        <div class="tarjeta_img">
                            <img src="https://images.unsplash.com/photo-1559061156-4a46ec29107d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80" 
                            alt="navegacionfaro">
                        </div>
                        <div class="card_content">
                            <p class="card_titulo text--medium">
                                Navegación por el Canal de Beagle
                            </p>
                            <div class="card_info">
                                <p class="text--medium">2 hs</p>
                                <p class="card_precio text--medium">$5200</p>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta">
                        <div class="tarjeta_img">
                            <img src="../assets/img/harberton.jpeg" 
                            alt="estancia">
                        </div>
                        <div class="card_content">
                            <p class="card_titulo text--medium">
                                Navegación hasta la Estancia Harberton
                            </p>
                            <div class="card_info">
                                <p class="text--medium">9 hs</p>
                                <p class="card_precio text--medium">$15000</p>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta">
                        <div class="tarjeta_img">
                            <img src="../assets/img/parquenacionalTDF.jpeg" 
                            alt="parquenacional">
                        </div>
                        <div class="card_content">
                            <p class="card_titulo text--medium">
                                Parque Nacional Tierra del Fuego
                            </p>
                            <div class="card_info">
                                <p class="text--medium">5 hs</p>
                                <p class="card_precio text--medium">$5000</p>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta">
                        <div class="tarjeta_img">
                            <img src="../assets/img/pinguinera.jpeg" 
                            alt="navegacionfaro">
                        </div>
                        <div class="card_content">
                            <p class="card_titulo text--medium">
                                Navegación hasta la Pinguinera
                            </p>
                            <div class="card_info">
                                <p class="text--medium">6 hs</p>
                                <p class="card_precio text--medium">$8000</p>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta">
                        <div class="tarjeta_img">
                            <img src="../assets/img/lagunaesmeralda.jpeg" 
                            alt="lagunaesmeralda">
                        </div>
                        <div class="card_content">
                            <p class="card_titulo text--medium">
                                Trekking Laguna Esmeralda
                            </p>
                            <div class="card_info">
                                <p class="text--medium">6 hs</p>
                                <p class="card_precio text--medium">$8000</p>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta">
                        <div class="tarjeta_img">
                            <img src="../assets/img/tren.jpeg" 
                            alt="tren">
                        </div>
                        <div class="card_content">
                            <p class="card_titulo text--medium">
                                Tren del Fin del Mundo
                            </p>
                            <div class="card_info">
                                <p class="text--medium">50 min</p>
                                <p class="card_precio text--medium">$4200</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tituloExc">
                <h3>Excursiones en El Calafate</h3>
            </div>  
            <div class="mainExc">
                <div class="cards">
                    <div class="tarjeta">
                        <div class="tarjeta_img">
                            <img src="https://www.howlanders.com/blog/wp-content/uploads/2019/11/el-chalten-pueblo-argentina.jpg" 
                            alt="fullChalten">
                        </div>
                        <div class="card_content">
                            <p class="card_titulo text--medium">
                                Full Day Chaltén libre
                            </p>
                            <div class="card_info">
                                <p class="text--medium">8 hs</p>
                                <p class="card_precio text--medium">$8000</p>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta">
                        <div class="tarjeta_img">
                            <img src="../assets/img/CerroHuyliche.jpeg" 
                            alt="cerroHuyliche">
                        </div>
                        <div class="card_content">
                            <p class="card_titulo text--medium">
                                Cerro Huyliche 4X4
                            </p>
                            <div class="card_info">
                                <p class="text--medium">3 hs</p>
                                <p class="card_precio text--medium">$6500</p>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta">
                        <div class="tarjeta_img">
                            <img src="../assets/img/GlaciarPerito.jpeg" 
                            alt="glarciarPerito">
                        </div>
                        <div class="card_content">
                            <p class="card_titulo text--medium">
                                Glaciar Perito Moreno
                            </p>
                            <div class="card_info">
                                <p class="text--medium">5 hs</p>
                                <p class="card_precio text--medium">$6000</p>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta">
                        <div class="tarjeta_img">
                            <img src="../assets/img/crucero.jpeg" 
                            alt="cruceroGourmet">
                        </div>
                        <div class="card_content">
                            <p class="card_titulo text--medium">
                                Experiencia Glaciares Gourmet en Crucero
                            </p>
                            <div class="card_info">
                                <p class="text--medium">10 hs</p>
                                <p class="card_precio text--medium">$21000</p>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta">
                        <div class="tarjeta_img">
                            <img src="../assets/img/yetibar.jpeg" 
                            alt="yetiBar">
                        </div>
                        <div class="card_content">
                            <p class="card_titulo text--medium">
                                Bar de Hielo Yeti Bar
                            </p>
                            <div class="card_info">
                                <p class="text--medium">3 hs</p>
                                <p class="card_precio text--medium">$2200</p>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta">
                        <div class="tarjeta_img">
                            <img src="../assets/img/kayakGlaciar.jpeg" 
                            alt="kayakglaciar">
                        </div>
                        <div class="card_content">
                            <p class="card_titulo text--medium">
                                Glaciar Perito Moreno Kayak
                            </p>
                            <div class="card_info">
                                <p class="text--medium">2 hs</p>
                                <p class="card_precio text--medium">$3200</p>
                            </div>
                        </div>
                    </div>
                </div>
        </main><br> 
        <footer class="pie-pagina">
            <div class="grupo1">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="../assets/img/turisteandoblanco.png" alt="logoBrand">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Turisteando ARG S.A.</p>
                    <p>Lic. E.V.yT.: Legajo Nº 220510</p>
                    <p>Ciudad Autonoma de Buenos Aires</p>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </div>
                </div>
            </div><br>
            <div class="grupo2">
                <small>&copy; 2022 <b>TB MKT</b> Todos los Derechos Reservados</small>
            </div>
        </footer>
        <a href="https://wa.link/j2ssxi" class="btn-wsp" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>