<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuristeandoARG</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <div class="contenedorPrincipal">
        <header class="border">
            <div class="menu">
                <div class="logo">
                    <a href="../index.html"><img src="../assets/img/turisteandologo.png" alt="logo"></a>
                </div>
                <nav class="nav_items">
                    <a href="../index.html">HOME</a></li>
                    <a href="excursiones.html">EXCURSIONES</a>
                    <a href="previaje.html">PREVIAJE</a>
                    <a href="quienes_somos.html">QUIENES SOMOS</a>
                    <a href="contacto.html">CONTACTO</a>
                </nav>
            </div>    
            <a href="https://api.whatsapp.com/send?phone=541154130268&text=%C2%A1Hola!%20Quer%C3%ADa%20solicitar%20asistencia%20para%20comprar%20una%20excursi%C3%B3n" class="whats_link" target="_blank"> 
                <img class="whats_icon" src="../assets/img/whatsapp.png" alt="whatsapp">
            </a>
        </header> 
        <main class="border">
            <div class="fotoBanner">
                <img src="../assets/img/banner1.jpeg" alt="banner">
            </div><br>
            <div>
                <h3 class="campaña">CAMPAÑA PREVIAJE</h3><br>
                <img class="img_previaje" src="../assets/img/previajebanner.jpeg" alt="previajebanner">
            </div><br>
            <div class="contenido_previaje">
                <p>PREVIAJE  es un programa de preventa turística para incentivar y reactivar el turismo en nuestro país. Aprovechá los beneficios exclusivos de Previaje para viajar a Ushuaia y 
                El Calafate durante 2021 /2022</p>
            </div><br>
            <div class="contenido_previaje">
                <h4>¿Como funciona previaje para viajar?</h4><br>
                <p>Por cada compra que hagas, recibirás el 50% de los que hayas gastado a modo de crédito para realizar más compras en el sector turístico desde la fecha de tu viaje</p>
            </div><br>
            <div class="contenido_previaje">
                <h4>¿A que aplica Previaje </h4><br>
                <p>Todas las compras realizadas ante prestadores turísticos inscriptos en el Programa, desde su lanzamiento y hasta el 31 de diciembre de 2020 para utilizar dentro de la Argentina desde noviembre 2021 y durante todo 2022</p>
            </div><br>
            <div class="contenido_previaje">
                <h4>¿Donde puedo utilizar el beneficio?</h4>
                <ul class="lista_beneficios">
                    <li class="beneficios">Alojamiento</li>
                    <li class="beneficios">Agencias de viajes</li>
                    <li class="beneficios">Transporte</li>
                    <li class="beneficios">Excursiones</li>
                    <li class="beneficios">Centro turisticos</li>
                    <li class="beneficios">Alquiler de automoviles</li>
                    <li class="beneficios">Gastronomia</li>
                </ul>   
            </div>
        </main><br> 
        <footer class="border">
            <div>
                <h3>REDES SOCIALES</h3>
                <img class="imgFoo" src="../assets/img/instagram.png" alt="logo insta" width="100" height="100">
                <img class="imgFoo" src="../assets/img/facebook.png" alt="logo face" width="100" height="100">
            </div>
            <div>
                <h6>Copyright Turisteando ARG - All rights reserved</h6>
            </div>  
        </footer>
    </div>
</body>
</html>