<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Informacion sobre el programa Previaje">
    <meta name="keywords" content="turismo, ushuaia, el calafate, excursiones, previaje, argentina">
    <title>TuristeandoArg Informacion de previaje</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <script src="https://kit.fontawesome.com/d77c652ade.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <header>    
            <div class="row">
                <div class="col-lg-12 col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="../index.html"> <img src="../assets/img/turisteandologo.png" class="d-inline-block align-top" alt="logoBrand"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" href="../index.html">HOME <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="excursiones.html">EXCURSIONES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="previaje.html">PREVIAJE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="quienes_somos.html">QUIENES SOMOS</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="contacto.html">CONTACTO</a>
                            </li>
                          </ul>
                        </div>
                      </nav>
                </div>
            </div>
        </header> <br>            
        <main>
            <div class="row encabezadoPreviaje">
                <div class="col-lg-12 col-12">
                    <div class="campanaPreviaje">
                        <h3>CAMPAÑA PREVIAJE</h3><br>
                    </div>
                    <div class="img_previaje">
                        <img  src="../assets/img/previajebanner.jpeg" alt="previajebanner">
                    </div>
                </div>
            </div><br>
            <div class="row contenidoPreviaje">
                <div class="col-lg-12 col-12">
                    <p>PREVIAJE  es un programa de preventa turística para incentivar y reactivar el turismo en nuestro país. Aprovechá los beneficios <br> 
                    exclusivos de Previaje para viajar a Ushuaia y 
                    El Calafate durante 2021 /2022</p>
                </div><br>
                <div class="col-lg-12 col-12">
                    <h4>¿Como funciona previaje para viajar?</h4><br>
                    <p>Por cada compra que hagas, recibirás el 50% de los que hayas gastado a modo de crédito para realizar más compras en el sector <br>
                    turístico desde la fecha de tu viaje</p>
                </div><br>
                <div class="col-lg-12 col-12">
                    <h4>¿A que aplica Previaje? </h4><br>
                    <p>Todas las compras realizadas ante prestadores turísticos inscriptos en el Programa, desde su lanzamiento y hasta el 31 de diciembre <br>
                    de 2020 para utilizar dentro de la Argentina desde noviembre 2021 y durante todo 2022</p>
                </div><br>
                <div class="col-lg-12 col-12">
                    <h4>¿Donde puedo utilizar el beneficio?</h4>
                    <ul class="lista_beneficios">
                        <li class="beneficios">Alojamiento</li>
                        <li class="beneficios">Agencias de viajes</li>
                        <li class="beneficios">Transporte</li>
                        <li class="beneficios">Excursiones</li>
                        <li class="beneficios">Centro turisticos</li>
                        <li class="beneficios">Alquiler de automoviles</li>
                        <li class="beneficios">Gastronomia</li>
                    </ul>   
                </div>
            </div>
        </main><br> 
        <footer class="pie-pagina">
            <div class="grupo1">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="../assets/img/turisteandologo.png" alt="logoBrand">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Turisteando ARG S.A.</p>
                    <p>Lic. E.V.yT.: Legajo Nº 220510</p>
                    <p>Ciudad Autonoma de Buenos Aires</p>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </div>
                </div>
            </div><br>
            <div class="grupo2">
                <small>&copy; 2022 <b>TB MKT</b> Todos los Derechos Reservados</small>
            </div>
        </footer>
        <a href="https://wa.link/j2ssxi" class="btn-wsp" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>