<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuristeandoARG</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <div class="contenedorPrincipal">
        <header class="border">
            <div class="menu">
                <div class="logo">
                    <a href="../index.html"><img src="../assets/img/turisteandologo.png" alt="logo"></a>
                </div>
                <nav class="nav_items">
                    <a href="../index.html">HOME</a></li>
                    <a href="excursiones.html">EXCURSIONES</a>
                    <a href="previaje.html">PREVIAJE</a>
                    <a href="quienes_somos.html">QUIENES SOMOS</a>
                    <a href="contacto.html">CONTACTO</a>
                </nav>
            </div>  
            <a href="https://api.whatsapp.com/send?phone=541154130268&text=%C2%A1Hola!%20Quer%C3%ADa%20solicitar%20asistencia%20para%20comprar%20una%20excursi%C3%B3n" class="whats_link" target="_blank"> 
                <img class="whats_icon" src="../assets/img/whatsapp.png" alt="whatsapp">
            </a>
        </header>  
        <main class="border">
            <div class="fotoBanner">
                <img src="../assets/img/banner1.jpeg" alt="banner">
            </div><br>
            <div class="quienes_somos">
                <h3>QUIENES SOMOS</h3><br>
                <img src="../assets/img/quienessomos.jpeg" alt="quienes_somos">
            </div><br>
            <div class="quienes_somos">
                <p>Turisteando ARG es una empresa de Viajes y Turismo creada en el año 2001. Somos lideres en prestación de servicios turisticos en Ushuaia y El Calafate</p>   
            </div>
            <br>
            <div class="quienes_somos">
                <h3>MISIÓN</h3><br>
                <p>Nos enfocamos en brindar un servicio personalizado, integral y de alta calidad; por eso nuestra misión es que su experiencia con nosotros sea inolvidable</p><br>
                <h3>VISIÓN</h3><br>
                <p>Mantener nuestra posición de liderazgo en el mercado de Ushuaia y Calafate con una organización centrada en el cliente y con una alta eficiencia interna.</p><br>
                <h3>VALORES</h3><br>
                <ul>
                    <li>Excelencia operacional</li>
                    <li>Calidad y calidez en nuestros servicios</li>
                    <li>Compromiso con el Cliente</li>
                    <li>Compromiso con el Medio Ambiente</li>
                </ul>
            </div><br>
        </main>    
        <footer class="border">
            <div>
                <h3>REDES SOCIALES</h3>
                <img class="imgFoo" src="../assets/img/instagram.png" alt="logo insta" width="100" height="100">
                <img class="imgFoo" src="../assets/img/facebook.png" alt="logo face" width="100" height="100">
            </div>
            <div>
                <h6>Copyright Turisteando ARG - All rights reserved</h6>
            </div>  
        </footer>
    </div>
</body>
</html>